<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
	<link rel="stylesheet" href="CSS/style.css">
	<title>Graph it - WebGL</title>
</head>

<body>
	<textarea id="functions">(sin(time), cos(time))
x=sin(time)
y=cos(time)</textarea>

	<script src="https://code.jquery.com/jquery-3.3.1.js"
		integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
	<script src="JS/Math/Vector2.js"></script>
	<script src="JS/Math/Matrix3.js"></script>
	<script src="JS/Application/Application.js"></script>
	<script src="JS/Graphics/Color.js"></script>
	<script src="JS/Graphics/Canvas.js"></script>
	<script src="JS/Graphics/Graph.js"></script>

	<script>
		$(document).ready(function () {
			let app = new Application(60, 60);
			let canvas = new Canvas('webgl', new Vector2(500, 500), null, true);
			let text = new Canvas('2d', new Vector2(500, 500), null, false);
			let graph = new Graph(canvas, text);

			let time = 0;
			let lastInput = 0;
			let inputChanged = false;

			function checkFunctions() {
				var functionStrings = $('#functions').val().split('\n');
				graph.setFunctions(functionStrings);
			}

			app.onStart = function () {
				canvas.setBackground(new Color(0.952, 0.952, 0.952, 1));
				canvas.setMargin(new Vector2(200, 0));
				canvas.fullscreen(true);

				text.setMargin(new Vector2(200, 0));
				text.fullscreen(true);

				let minDim = Math.min((canvas.dimensions.x - canvas.margin.x), (canvas.dimensions.y - canvas.margin.y));
				let xScale = (canvas.dimensions.y - canvas.margin.y) / (minDim * 5);
				let yScale = (canvas.dimensions.x - canvas.margin.x) / (minDim * 5);

				canvas.scale = new Vector2(xScale, yScale);

				Canvas.registerKey(16, null, null);

				$('#functions').on('input', function () {
					inputChanged = true;
					lastInput = time;
				});
				$('#functions').ready(checkFunctions);
			};

			app.onUpdate = function () {
				if (inputChanged == true && time - lastInput >= 0.15) {
					checkFunctions();
					inputChanged = false;
				}

				let mouseDelta = Canvas.mouseDelta();
				let scrollDelta = Canvas.scrollDelta();

				if (Canvas.mouseDown) {
					canvas.position.x += ((mouseDelta.x * 2) / (canvas.dimensions.x - canvas.margin.x) * (1 / canvas.scale.x));
					canvas.position.y -= ((mouseDelta.y * 2) / (canvas.dimensions.y - canvas.margin.y) * (1 / canvas.scale.y));
				}

				let mousePosX = ((Canvas.mousePos.x - ( canvas.position.x + (canvas.dimensions.x - canvas.margin.x)/2))) * 2 / (canvas.dimensions.x - canvas.margin.x) * (1 / canvas.scale.x) - canvas.position.x;

				let mousePosY = ((Canvas.mousePos.y - ( canvas.position.y + (canvas.dimensions.y - canvas.margin.y)/2))) * 2 / (canvas.dimensions.y - canvas.margin.y) * (1 / canvas.scale.y) - canvas.position.y;

				if (Math.abs(scrollDelta.x) + Math.abs(scrollDelta.y) > 0) {
					let delta = (scrollDelta.x + scrollDelta.y);

					delta = 10 / ((Math.min(Math.max(0.01, Math.abs(delta)), 1) * Math.sign(delta)) / canvas.scale.x);

					let xDiff = (delta / ((canvas.dimensions.x - canvas.margin.x)));
					let yDiff = (delta / ((canvas.dimensions.y - canvas.margin.y)));

					canvas.scale.x -= xDiff;
					canvas.scale.y -= yDiff;

					let deltaMousePosX = (((Canvas.mousePos.x - ( canvas.position.x + (canvas.dimensions.x - canvas.margin.x)/2))) * 2 / (canvas.dimensions.x - canvas.margin.x) * (1 / canvas.scale.x) - canvas.position.x) - mousePosX;

					let deltaMousePosY = (((Canvas.mousePos.y - ( canvas.position.y + (canvas.dimensions.y - canvas.margin.y)/2))) * 2 / (canvas.dimensions.y - canvas.margin.y) * (1 / canvas.scale.y) - canvas.position.y) - mousePosY;

					canvas.position.x += deltaMousePosX;
					canvas.position.y -= deltaMousePosY;

					canvas.scale.x = Math.min(Math.max(0.000001, canvas.scale.x), 1000000);
					canvas.scale.y = Math.min(Math.max(0.000001, canvas.scale.y), 1000000);
				}

				graph.time = time;
				graph.render();

				time += 1 / app.ups;
			}

			app.start();
		});
	</script>
</body>

</html>