<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
	<link rel="stylesheet" href="CSS/style.css">
	<link href="/vendor/fontawesome/css/all.css" rel="stylesheet">

	<title>Graph it!</title>
	<script src="JS/Math/Vector2.js"></script>
	<script src="JS/Math/Matrix3.js"></script>
	<script src="JS/Application/Application.js"></script>
	<script src="JS/Graphics/Color.js"></script>
	<script src="JS/Graphics/Canvas.js"></script>
	<script src="JS/Graphics/Graph.js"></script>
	<script src="JS/Main.js"></script>
</head>

<body>
	<aside class="noselect">
		<textarea id="functions" placeholder="Write functions here"></textarea>
		<textarea id="variables" placeholder="Write constants here"></textarea>
	</aside>

	<nav class="noselect">
		<i class="fas fa-bars" id="dropdown"></i>
		<a><i class="fas fa-info" id="infoToggle"></i></a>
	</nav>

	<div id="info">
		Input functions in the functions area using the following format for lines: y=value, x=value and the following
		for points: (value, value)<br><br>Numbers are not allowed to be inputted as integers(1, 2, 3, ...), instead they
		have to be inputted as floats(1.0, 2.0, 3.0, ...)<br><br>You have access to functions like: sin, cos, tan, etc
		as well as types like int, float, vec2, vec3, vec4, mat3, mat4, etc<br><br>You also have access to t, which
		starts at 0 when page is loaded and goes up over time<br><br>You can also create your own constants in the
		constants area using the following format: type name = value, the constants will be defined in the order they
		are written, you have access to all previous mentioned functions, types, and t (time)<br><br>You can move around
		the graph using left click and zoom in/out using the mousewheel<br><br>Examples of functions:
		<ul>
			<li>y = 1.0</li>
			<li>x = 1.0</li>
			<li>(1.0, 1.0)</li>
		</ul>
		Examples of constants:
		<ul>
			<li>float PI = 3.14159265359</li>
			<li>float halfPI = PI / 2.0</li>
			<li>float e = 2.71828</li>
		</ul>
	</div>
</body>

</html>