body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

* {
	font-family: 'Courier New', Courier, monospace;
	color: white;
	font-size: 12px;
	background-color: rgba(25.5, 25.5, 28.05, 255);
}

::-webkit-scrollbar {
	background-color: rgba(35, 35, 36, 255);
	width: 15px;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(55, 55, 57, 255);
}

canvas {
	left: 200px;
	top: 0;
	position: absolute;
	background-color: transparent !important;
}

#webgl {
	z-index: 0;
}

#text {
	z-index: 1;
}

#functions {
	left: 0;
	top: 0;
	position: absolute;
	width: 200px;
	height: 70%;
	box-sizing: border-box;
	border: none;
	margin: none;
	padding: none;
	resize: none;
}

#info {
	left: 0;
	bottom: 0;
	position: absolute;
	width: 200px;
	height: 30% !important;
	overflow: scroll;
	overflow-x: hidden;
	box-sizing: border-box;
	border: none;
	border-top: 1px solid rgba(50, 50, 50, 255);
	margin: none;
	padding: 10px;
}

#info ul {
	padding-left: 20px;
	margin: 10px;
}