/* Global */

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

* {
	font-family: 'Courier New', Courier, monospace;
	color: white;
	font-size: 12px;
	background-color: rgba(25.5, 25.5, 28.05, 255);
	outline: none;
}

::-webkit-scrollbar {
	background-color: rgba(35, 35, 36, 255);
	width: 15px;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(55, 55, 57, 255);
}

a, a * {
	cursor: pointer;
	color: #61cdef;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Aside */

aside {
	left: 0;
	top: 0;
	position: absolute;
	width: 400px;
	height: 100%;
	overflow: hidden;
	box-sizing: border-box;
	border: none;
	margin: none;
	padding: none;
}

aside textarea {
	height: 50%;
	width: 100%;
	overflow: scroll;
	overflow-x: hidden;
	box-sizing: border-box;
	border: none;
	margin: none;
	padding: 10px;
	resize: none;
	cursor: auto;
}

#variables {
	border-top: 1px solid rgba(50, 50, 50, 255);
}

/* Canvas */

canvas {
	left: 400px;
	top: 0;
	position: absolute;
	background-color: transparent !important;
	cursor: grab;
}

canvas.grabbing {
	cursor: grabbing;
}

#webgl {
	z-index: 0;
}

#text {
	z-index: 1;
}

/* Nav */

nav {
	position: absolute;
	left: 400px;
	top: 0;
	height: auto;
	width: auto;
	z-index: 1;
	background-color: transparent;
}

nav #dropdown {
	cursor: pointer;
}

nav *:not(#dropdown) {
	display: none !important;
}

nav.showing *:not(#dropdown) {
	display: inline !important;
}

nav {
	padding: 10px;
}

nav .option {
	font-size: 24px;
	padding: 0 5px;
	cursor: pointer;
}

/* info */

#info {
	display: none;
	left: 0;
	bottom: 0;
	position: absolute;
	width: 400px;
	height: 100% !important;
	overflow: scroll;
	overflow-x: hidden;
	box-sizing: border-box;
	border: none;
	margin: none;
	padding: 10px;
}

#info.showing {
	display: inherit !important;
}

#info ul {
	padding-left: 20px;
	margin: 10px;
}