::-webkit-scrollbar {
	display: none;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(242, 242, 242);
}

* {
	font-family: 'Courier New', Courier, monospace;
	font: black;
}

canvas {
	left: 200px;
	top: 0;
	position: absolute;
	background-color: rgb(242, 242, 242);
}

#functions {
	left: 0;
	top: 0;
	position: absolute;
	width: 196px;
	height: 100%;
	border: none;
	margin: none;
	padding: none;
	background-color: #fbfbfb;
	resize: none;
}